@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

body {
    background-color: #33313b;
    color: #eef8ff;
    font-family: Nunito;
}


.card {
    background-color: #834c69;
}

h1 {
    font-weight: 700;
}

#factText {
    font-weight: 600;
}

#fact {
    display: none;
}

.loader {
    position: relative;
    width: 44px;
    height: 8px;
    margin: 12px auto;
}
.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #ccc;
    position: absolute;
}
.dot_1 {
    animation: animateDot1 1.5s linear infinite;
    left: 12px;
    background: #e579b8;
}
.dot_2 {
    animation: animateDot2 1.5s linear infinite;
    animation-delay: 0.5s;
    left: 24px;
}
.dot_3 {
    animation: animateDot3 1.5s linear infinite;
    left: 12px;
}
.dot_4 {
    animation: animateDot4 1.5s linear infinite;
    animation-delay: 0.5s;
    left: 24px;
}
@keyframes animateDot1 {
    0% {
        transform: rotate(0deg) translateX(-12px);
   }
    25% {
        transform: rotate(180deg) translateX(-12px);
   }
    75% {
        transform: rotate(180deg) translateX(-12px);
   }
    100% {
        transform: rotate(360deg) translateX(-12px);
   }
}
@keyframes animateDot2 {
    0% {
        transform: rotate(0deg) translateX(-12px);
   }
    25% {
        transform: rotate(-180deg) translateX(-12px);
   }
    75% {
        transform: rotate(-180deg) translateX(-12px);
   }
    100% {
        transform: rotate(-360deg) translateX(-12px);
   }
}
@keyframes animateDot3 {
    0% {
        transform: rotate(0deg) translateX(12px);
   }
    25% {
        transform: rotate(180deg) translateX(12px);
   }
    75% {
        transform: rotate(180deg) translateX(12px);
   }
    100% {
        transform: rotate(360deg) translateX(12px);
   }
}
@keyframes animateDot4 {
    0% {
        transform: rotate(0deg) translateX(12px);
   }
    25% {
        transform: rotate(-180deg) translateX(12px);
   }
    75% {
        transform: rotate(-180deg) translateX(12px);
   }
    100% {
        transform: rotate(-360deg) translateX(12px);
   }
}
footer{
	display: flex;
	align-items: center;
    justify-content: center;
}

footer p {
	font-size: 0.8em;
	font-style: italic;
}

ul {
	display: flex;
	list-style-type: none;
	padding-inline-start: 15px;

}

ul li {
	padding: 5px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
    color: white;
    border-bottom: 2px solid #ee8572;
    text-decoration: none;
}